body {
    font-size: 16px;
    font-family: Arial;
}
.left {
    position: absolute;
    left: 5%;
    top: 20%;
    text-align: left;
}
.right {
    position: absolute;
    top: 5%;
    left: 25%;
    right: 15%;
    text-align: left;
}
.posts {
    background-color: rgb(255, 255, 255);
}
.delete_icon{
    position: absolute;
    top: 0;
    right: 0;
}
.postHeaders{
    left: 50px;
}
