.wiki {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 24px;
}
input[type=text] {
    display: block;
    width: 400px;
    height: 30px;
}
.lifestyle_Side {
    position: absolute;
    top: 38%;
    left: 0%;
    font-size: 12px;
}
.lifestyle_Main_Title {
    position: absolute;
    top: 20%;
    left: 60%;
    font-size: 18px;
    text-align: right;
}
.lifestyle_Main_Blurb {
    position: absolute;
    top: 25%;
    left: 30%;
    font-size: 18px;
    text-align: left;
}
.lifestyle_Main_Extra {
    position: absolute;
    top: 40%;
    left: 30%;
    font-size: 18px;
    text-align: left;
}

div {
    white-space: pre-wrap;
  }