.wiki {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 24px;
}
input[type=text] {
    display: block;
    width: 380px;
    height: 30px;
}
.lifestyle_Side {
    position: relative;
    top: 38%;
    left: 0%;
    font-size: 12px;
}
.lifestyle_Main_Title {
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}
.lifestyle_Main_Blurb {
    position: absolute;
    top: 48%;
    left: 30%;
    font-size: 18px;
    text-align: left;
}
.lifestyle_Main_Picture {
    position: absolute;
    top: 20%;
    left: 30%;
    font-size: 18px;
    text-align: left;
}

div {
    white-space: pre-wrap;
  }